 a:active, a:focus {outline:none;}

 /* Prevents annoying scrollbars:
 http://stackoverflow.com/questions/2436321/what-is-causing-that-nasty-horizontal-scrollbar
 */
 html
 {
 height: 100%;
 margin-bottom: 1px;
 overflow-y: scroll;
 overflow-x: hidden;
 }

 body {
   margin-left:1em;
   margin-top:1em;
 }

.no-padding-or-margin{
    padding: 0px;
    margin: 0px;
}